body {
  /*background: cornsilk;*/
  /*padding-left: 5em;*/
  /*font-family: sans-serif;*/
  font-family: 'Roboto', sans-serif;
}
.mui-app-bar {
  width: 10%;
}

.Node{
  /*border:1px solid #ccc;
  border-radius:.2em;
  width:25em;
  background-color:#efefef*/
  display:inline-block;
  vertical-align:top;
  width:25em;
  margin:1em;
}

.ipv6 {
    color: orange;
}
.localNet {
    color: blue;
}
.onion {
    color: red;
}
