body {
  /*background: cornsilk;*/
  padding-left: 3em;
  font-family: sans-serif;
}

.rotate-left {
  position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 3em;
	white-space: nowrap;
	background: black;
}

.rotate-left h3 {
  color: silver;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: .75em;
  height: 2.5em;
  margin: auto;
  -webkit-transform-origin: 0 50%;
     -moz-transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
     -moz-transform: rotate(-90deg) translate(-50%, 50%);
}


.Node{
  /*border:1px solid #ccc;
  border-radius:.2em;
  width:25em;
  background-color:#efefef*/
  display:inline-block;
  vertical-align:top;
  width:25em;
  margin:1em;
}

.ipv6 {
    color: orange;
}
.localNet {
    color: blue;
}
.onion {
    color: red;
}
